<%- include("header") -%>


<h2>This is the about page.</h2>
<p> lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
lorem ipsum</p>
<%- include("footer") -%>
